body {
    background-image: url(../images/109419-paper-yellow-rectangle-line-angle-2560x1600.jpg)
}
.container {
    position: relative;
    height: 100%;
    width: 100%;
}
.name {
    font-family: 'Cabin Sketch', cursive;
    font-size: 150px;
    position: absolute;
    transform-origin: bottom center;
    padding-bottom: 650px;
    left: 4.5em;
}
.letter1{
    transform: rotate(-55deg)
}
.letter2{
    transform: rotate(-43.5deg)
}
.letter3{
    transform: rotate(-35deg)
}
.letter4{
    transform: rotate(-25deg)
}
.letter5{
    transform: rotate(-15deg)
}
.letter6{
    transform: rotate(-2deg)
}
.letter7{
    transform: rotate(7deg)
}
.start {
    position: absolute;
    font-family: 'Pangolin', cursive;
    font-size: 30px;
    right: 1em;
    top: 2.5em;
}
.scores {
    position: absolute;
    font-family: 'Pangolin', cursive;
    font-size: 40px;
    top: 2.8em;
    right: 2em;
    border: 3px dashed black;
    padding: 1%;
}
.guesses {
    position: absolute;
    font-family: 'Pangolin', cursive;
    font-size: 40px;
    top: 17em;
    left: 2em;
    right: 36em;
    transform: rotate(-20deg)
}
.star1 {
    width: 8%;
    position: absolute;
    transform: rotate(50deg);
    top: 32em;
}
.star2 {
    width: 11%;
    position: absolute;
    top: 1em;
    left: .5em;
}
.star3 {
    width: 20%;
    position: absolute;
    right: 1.5em;
    top: 26em;
    transform: rotate(-30deg)

}

@media only screen and (max-width:980px){
    .name {
        font-size: 70px;
        padding-bottom: 300px;
    }
    .start {
        top: .8em;
        font-size: 25px;
    }
    .guesses {
        top: 13em;
        right: 25.5em;
        left: .5em;
        font-size: 30px;
        transform: rotate(-15deg)
    }
    .scores {
        top: 1.5em;
        right: 2em;
        font-size: 32px;
    }
}
@media only screen and (max-width:768px){
    .name{
       font-size: 80px;
       padding-bottom: 300px;
       left: 4em;
    }
    .guesses {
        font-size: 22px;
        transform: rotate(0);
        top: 6.5em;
        left: 18em;
        right: .5em;
    }
    .star1 {
        top: 35.2em;
        width: 10%;
    }
    .star2{
        width: 15%
    }
    .star3 {
        width: 30%;
        transform: rotate(-20deg);
        top: 33em;
        right: 1.6em;
    }
}
@media only screen and (max-width:640px){
    .name {
        transform: rotate(0);
        font-size: 70px;
    }
    .letter1 {
        left: .3em
    }
    .letter2 {
        left: 1em
    }
    .letter3 {
        left: 1.5em
    }
    .letter4 {
        left: 2.1em
    }
    .letter5 {
        left: 2.6em
    }
    .letter6 {
        left: 3.5em
    }
    .letter7 {
        left: 4.1em
    }
    .start{
        font-size: 20px;
        top: 8em;
        right: 11.5em;
    }
    .scores {
        right: 7em;
        top: 3.3em;
        font-size: 25px;
    }
    .guesses {
        top: 3.5em;
        font-size: 23px;
        left: 1em;
        width: 30%;
        transform: rotate(0)
    }
    .star1 {
        top: 22em;
        width: 40px;
    }
    .star2 {
        width: 60px;
        top: 8em;
    }
    .star3 {
        width: 110px;
        left: 12em;
        top: 32em;
    }
}